body
  color: black
  text-align: center
a
  text-decoration: none
img
  border: none
.ib-button
  outline: 0
  padding: .4em 1em .4em 20px
  text-decoration: none
  position: relative
  cursor: pointer
  text-align: center
.ib-button span.ui-icon
  margin: 0 5px 0 0
  position: absolute
  left: .2em
  top: 50%
  margin-top: -8px
#container
  margin-left: 20px
#drawbox
  display:block
  border: solid 1px #999999
  -moz-border-radius: 10px
  -webkit-border-radius: 10px 
form.ib-form
  label
    display: block
    margin-top: 1em
    input:not([type=radio]):not([type=submit]), textarea
      background: #ffffff
      border: 1px solid gray
      -moz-border-radius: 3px
      -webkit-border-radius: 3px
      -khtml-border-radius: 3px
      border-radius: 3px
      outline: none
      padding: 5px
      width: 500px
      &:focus
        color: #000000
        background-color: #E6E6E6
