html, body, h1, form, fieldset, legend, ol, li {
  margin: 0;
  padding: 0;
}

form#new_image_thread input:not([type=radio]):not([type=submit]),
form#new_image_thread textarea {
  background: #ffffff;
  border: 1px solid gray;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  font: italic 13px Georgia, "Times New Roman", Times, serif;
  outline: none;
  padding: 5px;
  width: 500px;
}
