#new_board
  = button "Create new board",:icon=>"ui-icon-document",:id => "new_board_button" unless @board.errors.any?
  #new_board_form{!@board.errors.any? && :style=>"display:none;"}
    %h2 new board
    %p= render 'form'
%h1 threads
- @boards.each do |board|
  %h2= link_to board.title, board
  %p= "created "+distance_of_time_in_words(Time.now,board.created_at,true) + " ago"
